.details {
  display: flex;
  gap: 1rem;
}

.details div {
  display: flex;
  gap: 0.5rem;
}

.postWrapper {
  display: grid;
}

.line {
  background-color: #ffffffbf;
  height: 1px;
}

@media screen and (min-width: 1024px) {
  .postWrapper {
    gap: 1rem;
  }
  .line {
    display: none;
  }
}
