@import url(./reset.css);

.wrapper {
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column-reverse;
}

.inputSearch {
  max-width: 80vw;
  outline: none;
  border: 1px solid #2acaa0;
  margin: 0 auto;
  background-color: transparent;
  padding: 1rem;
  color: #ffffff80;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 80vw;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }

  .inputSearch {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    position: absolute;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .content {
    width: calc(100% - 20rem);
    margin-left: 20rem;
    padding: 1rem;
  }
}
