@import url(./reset.css);

.wrapper {
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 80vw;
    margin: 0 auto;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    position: fixed;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .content {
    width: calc(100% - 20rem);
    margin-left: 20rem;
  }
}
