.nav {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
  height: 65px;
  z-index: 1;
  padding: 0 2rem;
}

.nav div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav .links {
  display: none;
}

.nav div .search {
  display: none;
}

.nav .burger {
  fill: white;
}

.relative {
  position: relative;
}

.relative .inputSearch {
  margin: 0 auto;
  width: 80vw;
  position: absolute;
  bottom: -50px;
  right: 0;
}

.relative .navLinks {
  background-color: aquamarine;
  position: absolute;
  bottom: -50px;
  right: 0;
}

.searchWrapper {
  position: relative;
}
.relative .searchOutput {
  background-color: burlywood;
  width: 20rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 5rem;
  right: -1.5rem;
}

.searchWrapper .searchOutput {
  display: none;
}
@media screen and (min-width: 1024px) {
  .searchWrapper .searchOutput {
    background-color: burlywood;
    width: 20rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 4rem;
    right: 0;
  }

  .nav {
    width: 80vw;
  }
  .nav .relative {
    display: none;
  }

  .nav .links {
    display: flex;
    gap: 3rem;
  }

  .nav div .search {
    display: block;
  }
}
