.wrapper {
  background-color: #161f1c;
  height: 10rem;
  padding: 1rem;
  color: #d1d5db;
  display: grid;
  place-content: start;
  align-content: center;
  font-size: 1.2rem;
  gap: 1rem;
  border-radius: 1rem;
}

.wrapper a {
  text-decoration: none;
  color: #2acaa0;
}
