.postWrapper {
  display: grid;
}

.line {
  background-color: #ffffffbf;
  height: 1px;
}

.noPost {
  color: #fafafa;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .postWrapper {
    gap: 1rem;
  }
  .line {
    display: none;
  }
}
