.profile img {
  height: auto;
  width: 100%;
  border-radius: 1rem;
}

.profile {
  display: grid;
  gap: 1rem;
  place-content: center;
  place-items: center;
  background-color: #161f1c;
  padding: 1rem;
}

.profile h1 {
  color: #fafafa;
}

.profile p {
  color: #a3a3a3;
}

@media screen and (min-width: 1024px) {
  .profile {
    border-radius: 1rem;
  }
}
